/* Seu arquivo CSS personalizado */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Resetar o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body {
    font-size: 100%;
    background: #F5F5F5;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cabecalho-menu-item:hover {
    color: #578ab4;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #578ab4;
}

/* Estilos para a div.header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Estilos para o título */
.titulo {
    font-size: 45px;
    color: #4682B4;
    text-align: center;
    margin-bottom: 2rem;
}

/* Estilos para o subtítulo */
.subtitulo {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Estilos para o grupo de entrada */
.input-group {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}

/* Estilos para a caixa de entrada */
.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 2rem 3rem;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box h3 {
    text-align: center;
    /* Centraliza o texto horizontalmente */
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #4682B4;
}

/* Estilizando os botões */
button {
    border: none;
    background-color: #578ab4;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 300px;
    line-height: 20px;
}

button:hover {
    background-color: #4c7ca8;
}

/* Estilo para os links dentro dos botões */
button a {
    color: inherit;
    text-decoration: none;
}

/* Centraliza todo o conteúdo */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

/* Mídia para dispositivos menores */
@media screen and (max-width: 1366px) {
    .cabecalho-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .titulo {
        display: none;
    }

    .subtitulo {
        display: none;
    }

}