@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Estilos para todos os elementos */
* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
}


/* Estilos para o corpo da página */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

/* Estilos para o contêiner principal */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

/* Estilos para o grupo de entrada */
.input-group {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3rem;
}

/* Estilos para a caixa de entrada */
.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 2rem 3rem;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #4682B4;
}

/* Estilizando os botões */
button {
    border: none;
    background-color: #578ab4;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 300px;
    line-height: 20px;
    /* Altura da caixa */
}

button:hover {
    background-color: #7ea3c1;
}

/* Estilo para os links dentro dos botões */
button a {
    color: inherit;
    /* Herda a cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão do link */
}

button:hover a {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre o link */
}


/* Mídia para dispositivos menores */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    .fake-box {
        width: 90%;
        padding: 1rem;
    }

    .input-box {
        width: 90%;
    }
}