/* Estilos para o contêiner */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Resetar o CSS */
* {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body,
html {
    font-size: 100%;
    background: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cabecalho-menu-item:hover {
    color: #4a7a94;
}

#logout-form {
    display: inline-block;
}

#logout-form button {
    border: none;
    background-color: #4875A3;
    color: #ffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    line-height: 20px;
}

#logout-form button:hover {
    background-color: #3E668E;
}

.conteudo-principal {
    margin-bottom: 48px;
    border-top: 0.4px solid #4a7a94;
    display: flex;
    flex-direction: row;
    margin-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    min-height: 90vh;
    color: #212121;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formulario {
    width: 100%;
    background-color: white;
    padding: 60px;
    border: none;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

.formulario fieldset {
    border-radius: 15px;
    border-width: 1px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.formulario fieldset legend {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.submit-button {
    background-color: #4875A3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

.submit-button:hover {
    background-color: #3E668E;
}

.rodape {
    background-color: #4D77A8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 48px;
}

.rodape-texto {
    margin: 10px 0;
}

.rodape-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape-link:hover {
    color: #c0d8e8;
}

/* Resposividade */
@media only screen and (max-width: 1300px) {
    .cabecalho-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .formulario fieldset {
        max-width: 300px;
        margin: 0 auto;
    }

    .formulario fieldset legend {
        font-size: 24px;
        text-align: center;
    }

    .campos-formulario {
        margin: 0 auto;
        max-width: 300px;
    }

    .submit-button {
        width: 200px;
        height: 50px;
        display: block;
    }
}