{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Castração de baixo-custo em parceria com a Prefeitura de Marília - SP">
    <link rel="icon" href="{% static 'images/pet-icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
    <title>Gestão de atendimentos e animais</title>
</head>

<body>

    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="{% url 'home_page' %}" class="cabecalho-menu-item">Página Inicial</a>
            <a href="{% url 'admin' %}" class="cabecalho-menu-item">Acesso administrativo</a>
            <a href="{% url 'criar_tutor' %}" class="cabecalho-menu-item">Solicitar castração</a>
        </nav>
    </header>

    <main class="conteudo">
        <div class="form">
            <div class="input-container">
                <div class="header">
                    <h1 class="titulo">Gestão de atendimentos e animais</h1>
                    <p class="subtitulo">Configurações e acessos de atendimentos, animais, clínicas e tutores.</p>
                    <div class="input-group">
                        <div class="input-box">
                            <h3>Atendimentos</h3>
                            <button><a href="{% url 'criar_atendimento' %}">Criar novo atendimento</a></button>
                            <button><a href="{% url 'visualizar_atendimento' %}">Acessar lista de
                                    atendimentos</a></button>
                        </div>
                        <div class="input-box">
                            <h3>Animais</h3>
                            <button><a href="{% url 'criar_animal' %}">Criar novo animal</a></button>
                            <button><a href="{% url 'visualizar_animal' %}">Acessar lista de animais</a></button>
                        </div>
                        <div class="input-box">
                            <h3>Clínicas</h3>
                            <button><a href="{% url 'criar_clinica' %}">Criar nova clínica</a></button>
                            <button><a href="{% url 'visualizar_clinica' %}">Acessar lista de clínicas</a></button>
                        </div>
                        <div class="input-box">
                            <h3>Tutores</h3>
                            <button><a href="{% url 'criar_tutor' %}">Criar novo tutor</a></button>
                            <button><a href="{% url 'visualizar_tutor' %}">Acessar lista de tutores</a></button>
                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>

</html>