/* Seu arquivo CSS personalizado */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Resetar o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body {
    font-size: 100%;
    background: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cabecalho-menu-item:hover {
    color: #4a7a94;
}

#logout-form {
    display: inline-block;
}

#logout-form button {
    border: none;
    background-color: #4875A3;
    color: #ffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    line-height: 15px;
}

#logout-form button:hover {
    background-color: #3E668E;
}


.conteudo {
    margin-bottom: 40px;
    border-top: 0.5px solid #4D77A8;
    color: #212121;
}

/* Estilos para a div.header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Estilos para o título */
.titulo {
    font-size: 45px;
    font-weight: bold;
    color: #4D77A8;
    text-align: center;
    margin-bottom: 2rem;
}

/* Estilos para o subtítulo */
.subtitulo {
    text-align: center;
    font-size: 18px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Estilos para o grupo de entrada */
.input-group {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
}

/* Estilos para a caixa de entrada */
.input-box {
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 2rem 3rem;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #0000001c;
}

.input-box h3 {
    text-align: center;
    /* Centraliza o texto horizontalmente */
}

/* Estilizando os botões */
button {
    border: none;
    background-color: #4875A3;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 260px;
    line-height: 20px;
}

button:hover {
    background-color: #3E668E;
}

/* Estilo para os links dentro dos botões */
button a {
    color: inherit;
    text-decoration: none;
}

/* Centraliza todo o conteúdo */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1366px) {
    .cabecalho-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .titulo {
        display: none;
    }

    .subtitulo {
        display: none;
    }

    .input-group {
        margin-top: 300px;
        flex-direction: column;
        align-items: center;
    }

    .input-box {
        width: 90%;
        margin-bottom: none;
        /* Adiciona espaço entre as caixas de entrada */
    }
}