@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Resetar o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body {
    font-size: 100%;
    background: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cabecalho-menu-item:hover {
    color: #4a7a94;
}

#logout-form {
    display: inline-block;
}

#logout-form button {
    border: none;
    background-color: #4875A3;
    color: #ffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    line-height: 20px;
}

#logout-form button:hover {
    background-color: #3E668E;
}

.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.mensagem h1 {
    font-size: 32px;
    color: #4D77A8;
    margin-bottom: 20px;
}

.botao-voltar {
    background-color: #4875A3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.botao-voltar:hover {
    background-color: #3E668E;
}

.botao-voltar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.imagem-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: none;
}

.imagem-sucesso img {
    max-width: 20%;
    height: auto;
}

.rodape {
    background-color: #4D77A8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 48px;
}

.rodape-texto {
    margin: 10px 0;
}

.rodape-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape-link:hover {
    color: #c0d8e8;
}


@media only screen and (max-width: 600px) {

    .cabecalho-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mensagem {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
    }

    .imagem-sucesso {
        display: none;
        /* Esconde a seção da imagem */
    }
}