{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
    <title>Gestão de atendimentos e animais</title>
</head>

<body>

    {% include 'partials/header.html' %}

    {% if user.is_authenticated %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <h1 class="conteudo-administrativo-titulo">Gestão de Atendimentos</h1>
            <p class="conteudo-administrativo-subtitulo">Configurações e acessos de atendimentos, animais, clínicas e
                tutores.</p>

            <div class="cards-container">
                <div class="card">
                    <h3 class="card-titulo">Atendimentos</h3>
                    <a href="{% url 'criar_atendimento' %}" class="card-botao">Criar novo atendimento</a>
                    <a href="{% url 'visualizar_atendimento' %}" class="card-botao">Acessar lista de atendimentos</a>
                </div>

                <div class="card">
                    <h3 class="card-titulo">Animais</h3>
                    <a href="{% url 'criar_animal' %}" class="card-botao">Criar novo animal</a>
                    <a href="{% url 'visualizar_animal' %}" class="card-botao">Acessar lista de animais</a>
                </div>

                <div class="card">
                    <h3 class="card-titulo">Clínicas</h3>
                    <a href="{% url 'criar_clinica' %}" class="card-botao">Criar nova clínica</a>
                    <a href="{% url 'visualizar_clinica' %}" class="card-botao">Acessar lista de clínicas</a>
                </div>

                <div class="card">
                    <h3 class="card-titulo">Tutores</h3>
                    <a href="{% url 'criar_tutor' %}" class="card-botao">Criar novo tutor</a>
                    <a href="{% url 'visualizar_tutor' %}" class="card-botao">Acessar lista de tutores</a>
                </div>
            </div>
        </section>
    </main>
    {% else %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <p class="mensagem-erro">Usuário sem permissão para visualizar a página. Por favor, <a
                    href="{% url 'login' %}" class="link-login">faça login</a>.</p>
        </section>
    </main>
    {% endif %}

    {% include 'partials/footer.html' %}

</body>

</html>