{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" class="h-100">

<body>

    <head>
        {% include 'partials/head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/visualizacao_style.css' %}">
        <title>Animais cadastrados</title>
    </head>

    {% include 'partials/header.html' %}

    <div class="tabela-container">
        <table>
            <th colspan="10">Animais cadastrados</th>
            <tr>
                <td class="titulo-coluna"> Nome </td>
                <td class="titulo-coluna"> Especie </td>
                <td class="titulo-coluna"> Raça </td>
                <td class="titulo-coluna"> Sexo </td>
                <td class="titulo-coluna"> Idade </td>
                <td class="titulo-coluna"> Peso </td>
                <td class="titulo-coluna"> Caracteristicas </td>
                <td class="titulo-coluna"> Tutor </td>
            </tr>
            {% for animal in animais %}
            <tr>
                <td>{{ animal.Anim_Nome }}</td>
                <td>{{ animal.Anim_Especie }}</td>
                <td>{{ animal.Anim_Raca }}</td>
                <td>{{ animal.Anim_Sexo }}</td>
                <td>{{ animal.Anim_Idade }}</td>
                <td>{{ animal.Anim_Peso }}</td>
                <td>{{ animal.Anim_Caracteristicas }}</td>
                <td>{{ animal.Tutor_idTutor }}</td>
                <td><button><a href="{% url 'editar_animal' animal.id  %}">Editar</a></button></td>
                <td><button><a href="{% url 'deletar_animal' animal.id  %}"> Apagar </a></button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'partials/footer.html' %}

</body>

</html>