{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sucesso_style.css' %}">
    <title>Sucesso!</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <main class="mensagem">
        <h1> Atendimento no dia {{ form.Aten_Data.value }} editado com sucesso!</h1>
        <button class="botao-voltar"><a href="{% url 'visualizar_atendimento' %}" class="botao-voltar-link">
                Voltar
            </a>
        </button>
        {% csrf_token %}
    </main>

    <section class="imagem-sucesso">
        <img src="{% static 'images/cat_dog_footer.svg' %}"
            alt="Imagem indicando sucesso na edição. É um desenho de um gato e um cachorro brincando. Ambos são da cor laranja."
            class="imagem-sucesso">
    </section>

    {% include 'partials/footer.html' %}

</body>

</html>