{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" class="h-100">


<body>

    <head>
        {% include 'partials/head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/visualizacao_style.css' %}">
        <title>Acessar atendimentos</title>
    </head>

    {% include 'partials/header.html' %}

    <div class="tabela-container">
        <table>
            <th colspan="9">Atendimentos cadastrados</th>
            <tr>
                <td class="titulo-coluna"> Data </td>
                <td class="titulo-coluna"> Observações </td>
                <td class="titulo-coluna"> Animal </td>
                <td class="titulo-coluna"> Tutor </td>
                <td class="titulo-coluna"> Clinica </td>
            </tr>
            {% for atendimento in atendimentos %}
            <tr>
                <td>{{ atendimento.Aten_Data }}</td>
                <td>{{ atendimento.Aten_Obs }}</td>
                <td>{{ atendimento.Animal_idAnimal }}</td>
                <td>{{ atendimento.Animal_Tutor_idTutor }}</td>
                <td>{{ atendimento.Clinica_idClinica }}</td>
                <td><button><a href="{% url 'editar_atendimento' atendimento.id  %}">Editar</a></button></td>
                <td><button><a href="{% url 'deletar_atendimento' atendimento.id  %}"> Apagar </a></button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'partials/footer.html' %}

</body>

</html>