{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/visualizacao_style.css' %}">
    <title>Gestão de Atendimentos</title>
</head>

<body>
    {% include 'partials/header.html' %}

    {% if user.is_authenticated %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <h1 class="conteudo-administrativo-titulo">Gestão de Atendimentos</h1>
            <p class="conteudo-administrativo-subtitulo">Visualize, edite ou exclua atendimentos cadastrados no sistema
            </p>

            <div class="tabela-container">
                <div class="table-header">
                    <a href="{% url 'criar_atendimento' %}" class="card-botao">Novo atendimento</a>
                </div>

                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Observações</th>
                                <th>Animal</th>
                                <th>Tutor</th>
                                <th>Clínica</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for atendimento in atendimentos %}
                            <tr>
                                <td>{{ atendimento.Aten_Data }}</td>
                                <td>{{ atendimento.Aten_Obs }}</td>
                                <td>{{ atendimento.Animal_idAnimal }}</td>
                                <td>{{ atendimento.Animal_Tutor_idTutor }}</td>
                                <td>{{ atendimento.Clinica_idClinica }}</td>
                                <td class="acoes">
                                    <a href="{% url 'editar_atendimento' atendimento.id %}"
                                        class="acao-btn editar">Editar</a>
                                    <a href="{% url 'deletar_atendimento' atendimento.id %}"
                                        class="acao-btn deletar">Apagar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="paginacao">
                        {% if atendimentos.has_previous %}
                        <a href="?page=1" class="pagina-link">&laquo; Primeira</a>
                        <a href="?page={{ atendimentos.previous_page_number }}" class="pagina-link">Anterior</a>
                        {% endif %}

                        <span class="pagina-atual">
                            Página {{ atendimentos.number }} de {{ atendimentos.paginator.num_pages }}
                        </span>

                        {% if atendimentos.has_next %}
                        <a href="?page={{ atendimentos.next_page_number }}" class="pagina-link">Próxima</a>
                        <a href="?page={{ atendimentos.paginator.num_pages }}" class="pagina-link">Última &raquo;</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>
    </main>
    {% else %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <p class="mensagem-erro">Usuário sem permissão para visualizar a página. Por favor, <a
                    href="{% url 'login' %}" class="link-login">faça login</a>.</p>
        </section>
    </main>
    {% endif %}

    {% include 'partials/footer.html' %}
</body>

</html>