{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/visualizacao_style.css' %}">
    <title>Gestão de Clínicas</title>
</head>

<body>
    {% include 'partials/header.html' %}

    {% if user.is_authenticated %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <h1 class="conteudo-administrativo-titulo">Gestão de Clínicas</h1>
            <p class="conteudo-administrativo-subtitulo">Visualize, edite ou exclua clínicas cadastradas no sistema</p>

            <div class="tabela-container">
                <div class="table-header">
                    <a href="{% url 'criar_clinica' %}" class="card-botao">Nova Clínica</a>
                </div>

                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Bairro</th>
                                <th>Telefone</th>
                                <th>Veterinário</th>
                                <th>CRM</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for clinica in clinicas %}
                            <tr>
                                <td>{{ clinica.Clin_Estabelecimento }}</td>
                                <td>{{ clinica.Clin_Endereco }}</td>
                                <td>{{ clinica.Clin_Bairro }}</td>
                                <td>{{ clinica.Clin_Telefone }}</td>
                                <td>{{ clinica.Clin_Veterinario }}</td>
                                <td>{{ clinica.Clin_CRM }}</td>
                                <td class="acoes">
                                    <a href="{% url 'editar_clinica' clinica.id %}" class="acao-btn editar">Editar</a>
                                    <a href="{% url 'deletar_clinica' clinica.id %}" class="acao-btn deletar">Apagar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="paginacao">
                    {% if clinicas.has_previous %}
                    <a href="?page=1" class="pagina-link">&laquo; Primeira</a>
                    <a href="?page={{ clinicas.previous_page_number }}" class="pagina-link">Anterior</a>
                    {% endif %}

                    <span class="pagina-atual">
                        Página {{ clinicas.number }} de {{ clinicas.paginator.num_pages }}
                    </span>

                    {% if clinicas.has_next %}
                    <a href="?page={{ clinicas.next_page_number }}" class="pagina-link">Próxima</a>
                    <a href="?page={{ clinicas.paginator.num_pages }}" class="pagina-link">Última &raquo;</a>
                    {% endif %}
                </div>

            </div>
        </section>
    </main>
    {% else %}
    <main class="conteudo">
        <section class="conteudo-administrativo">
            <p class="mensagem-erro">Usuário sem permissão para visualizar a página. Por favor, <a
                    href="{% url 'login' %}" class="link-login">faça login</a>.</p>
        </section>
    </main>
    {% endif %}

    {% include 'partials/footer.html' %}
</body>

</html>