{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Castração de baixo-custo em parceria com a Prefeitura de Marília - SP">
    <link rel="icon" href="{% static 'images/pet-icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage_style.css' %}">
    <title>Castração Marília - SP</title>
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="{% url 'home_page' %}" class="cabecalho-menu-item">Página Inicial</a>
            <a href="{% url 'atendimento_passo1' %}" class="cabecalho-menu-item">Solicitar castração</a>
            {% if user.is_authenticated %}
            <a href="{% url 'admin' %}" class="cabecalho-menu-item">Acesso administrativo</a>
            {{ user }}
            <form id="logout-form" method="post" action="{% url 'logout' %}?next=/">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Sair</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="cabecalho-menu-item">Fazer Login</a>
            {% endif %}
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Castração de baixo-custo</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">Agende a castração do seu animal em uma das clínicas
                    conveniadas de Marília - SP.</h2>
                <button class="conteudo-principal-escrito-botao">
                    <a href="{% url 'atendimento_passo1' %}" class="conteudo-principal-escrito-botao-link">
                        Solicitar castração
                    </a>
                </button>

            </div>
            <img class="conteudo-principal-imagem" src="{% static 'images/cat-dog-round.png' %}"
                alt="Desenho de um cachorro caramelo junto de um gato branco. Fundo da imagem é azul.">
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Saiba mais</h3>
            <p class="conteudo-secundario-paragrafo"><strong>O que é castração?</strong> A cirurgia, realizada com
                anestesia geral, envolve a remoção do útero, trompas e ovários nas fêmeas, e dos testículos nos machos.
                É simples, mas deve ser feita apenas por veterinários.</p>
            <p class="conteudo-secundario-paragrafo"><strong>Por que castrar? </strong> Reduz o risco de doenças
                graves, como câncer de mama e problemas
                uterinos, além de
                comportamentos indesejados relacionados ao cio e marcação de território.</p>
            <p class="conteudo-secundario-paragrafo"><strong>Como é o programa?</strong> O serviço é realizado através
                de uma parceria da Secretaria Municipal da Saúde com clínicas conveniadas.
                Temos 10 clínicas parceiras para escolha.
            <p class="conteudo-secundario-paragrafo"><strong>Valores</strong>
                <br>
                O custo da castração é de <strong>R$100</strong> para cães e <strong>R$80</strong> para gatos,
                independente do sexo.
                <br>
                Caso sejam necessárias outras medicações, por indicação do medico veterinário da clínica, estas deverão
                ser autorizadas e custeada pelo munícipe.
                <br>
                O município envia o kit de materiais para a clínica.
                <br>
                O valor do procedimento é pago pelo munícipe diretamente às clínicas parceiras no dia do procedimento.
            </p>
            </p>
        </section>
    </main>

</body>

</html>

</html>