{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="icon" href="{% static 'images/pet-icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage_style.css' %}">
    <title>Castração Marília - SP</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Castração de baixo-custo</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">Agende a castração do seu animal em uma das clínicas
                    conveniadas de Marília - SP.</h2>
                <button class="conteudo-principal-escrito-botao">
                    <a href="{% url 'atendimento_passo1' %}" class="conteudo-principal-escrito-botao-link">
                        Solicitar castração
                    </a>
                </button>
            </div>
            <img class="conteudo-principal-imagem" src="{% static 'images/cat-dog-blue.png' %}"
                alt="Desenho de um cachorro caramelo e um gato branco, representando animais de estimação.">
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Saiba mais</h3>

            <div class="acordeao-item">
                <button class="acordeao-titulo"><strong>O que é castração?</strong></button>
                <div class="acordeao-conteudo">
                    <p>A cirurgia, realizada com anestesia geral, envolve a remoção do útero, trompas e ovários nas
                        fêmeas, e dos testículos nos machos. É simples, mas deve ser feita apenas por veterinários.</p>
                </div>
            </div>

            <div class="acordeao-item">
                <button class="acordeao-titulo"><strong>Por que castrar?</strong></button>
                <div class="acordeao-conteudo">
                    <p>Reduz o risco de doenças graves, como câncer de mama e problemas uterinos, além de comportamentos
                        indesejados relacionados ao cio e marcação de território.</p>
                </div>
            </div>

            <div class="acordeao-item">
                <button class="acordeao-titulo"><strong>Como é o programa?</strong></button>
                <div class="acordeao-conteudo">
                    <p>O serviço é realizado através de uma parceria da Secretaria Municipal da Saúde com clínicas
                        conveniadas. Temos 10 clínicas parceiras para escolha.</p>
                </div>
            </div>

            <div class="acordeao-item">
                <button class="acordeao-titulo"><strong>Valores</strong></button>
                <div class="acordeao-conteudo">
                    <p>
                        O custo da castração é de <strong>R$100</strong> para cães e <strong>R$80</strong> para gatos,
                        independente do sexo.<br>
                        Caso sejam necessárias outras medicações, por indicação do médico veterinário da clínica, estas
                        deverão ser autorizadas e custeadas pelo munícipe.<br>
                        O município envia o kit de materiais para a clínica.<br>
                        O valor do procedimento é pago pelo munícipe diretamente às clínicas parceiras no dia do
                        procedimento.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <script>
        document.querySelectorAll('.acordeao-titulo').forEach(titulo => {
            titulo.addEventListener('click', () => {
                titulo.classList.toggle('aberto');
                const conteudo = titulo.nextElementSibling;
                conteudo.classList.toggle('aberto');
            });
        });
    </script>

    {% include 'partials/footer.html' %}


</body>

</html>