{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Castração de baixo-custo em parceria com a Prefeitura de Marília - SP">
    <link rel="icon" href="{% static 'images/pet-icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sucesso_style.css' %}">
    <title>Sucesso!</title>
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="{% url 'home_page' %}" class="cabecalho-menu-item">Página Inicial</a>
            <a href="{% url 'admin' %}" class="cabecalho-menu-item">Acesso administrativo</a>
            <a href="{% url 'atendimento_passo1' %}" class="cabecalho-menu-item">Solicitar castração</a>
        </nav>
    </header>

    <main class="mensagem">

        <h1> Atendimento solicitado com sucesso!</h1>
        <p>Iremos entrar em contato para informar os próximos passos.</p>
        <button class="botao-voltar"><a href="{% url 'home_page' %}" class="botao-voltar-link">
                Voltar
            </a>
        </button>

        <!-- Security token -->
        {% csrf_token %}
    </main>

    <section class="imagem-sucesso">
        <img src="{% static 'images/dog-pc.png' %}" alt="Imagem de sucesso" class="imagem-sucesso">
    </section>

</body>

</html>