{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sucesso_style.css' %}">
    <title>Sucesso!</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <main class="mensagem">
        <h1> Animal criado com sucesso!</h1>
        <p>Clique em avançar para preencher os dados do seu atendimento.</p>
        <button class="botao-voltar"><a href="{% url 'atendimento_passo3' %}" class="botao-voltar-link">
                Avançar
            </a>
        </button>
        {% csrf_token %}
    </main>

    <section class="imagem-sucesso">
        <img src="{% static 'images/dog-pc.png' %}"
            alt="Imagem indicando sucesso na criação. É um desenho de um cachorro laranjado usando um notebook cinza."
            class="imagem-sucesso">
    </section>

    {% include 'partials/footer.html' %}

</body>

</html>