{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/visualizacao_style.css' %}">
    <title>Tutores cadastrados</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="tabela-container">
        <table>
            <th colspan="10">Tutores cadastrados</th>
            <tr>
                <td class="titulo-coluna"> Nome </td>
                <td class="titulo-coluna"> Endereco </td>
                <td class="titulo-coluna"> Bairro </td>
                <td class="titulo-coluna"> Telefone </td>
                <td class="titulo-coluna"> CPF </td>
                <td class="titulo-coluna"> RG </td>
                <td class="titulo-coluna"> ONG </td>
            </tr>
            {% for tutor in tutores %}
            <tr>
                <td>{{ tutor.Tut_Nome }}</td>
                <td>{{ tutor.Tut_Endereco }}</td>
                <td>{{ tutor.Tut_Bairro }}</td>
                <td>{{ tutor.Tut_Fone }}</td>
                <td>{{ tutor.Tut_CPF }}</td>
                <td>{{ tutor.Tut_RG }}</td>
                <td>{{ tutor.get_Tut_Ong_display }}</td>
                <td><button><a href="{% url 'editar_tutor' tutor.id  %}">Editar</a></button></td>
                <td><button><a href="{% url 'deletar_tutor' tutor.id  %}">Apagar</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'partials/footer.html' %}

</body>

</html>