{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/deletar_style.css' %}">
    <title>Sucesso!</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <main class="mensagem">
        <h1> Tutor {{ form.Tut_Nome.value }} apagado com sucesso</h1>
        <button class="botao-voltar"><a href="{% url 'visualizar_tutor' %}" class="botao-voltar-link">
                Voltar
            </a>
        </button>
        {% csrf_token %}
    </main>

    <section class="imagem-sucesso">
        <img src="{% static 'images/cat-pc.png' %}"
            alt="Imagem indicando sucesso na deleção. É um desenho de gato cinza usando um notebook azul."
            class="imagem-sucesso">
    </section>

    {% include 'partials/footer.html' %}

</body>

</html>