@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Resetar o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 100%;
    background: white;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-menu-item {
    font-weight: 400;
    font-size: 18px;
    color: #000;
    transition: color 0.3s ease;
    text-decoration: none;
}

.cabecalho-menu-item:hover {
    color: #3E668E;
}

#logout-form {
    display: inline-block;
}

#logout-form button {
    border: none;
    background-color: #4875A3;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    width: 80px;
    line-height: 20px;
    text-decoration: none;
}

#logout-form button:hover {
    background-color: #3E668E;
}

.conteudo-principal {
    padding: 50px 20px;
    margin-bottom: 1px;
    border-top: 0.3px solid #4a7a94;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    color: black;
    font-weight: bold;
}

.formulario {
    width: 100%;
    background: #fff;
    border: 1.5px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 70px;
    margin-bottom: 1px;
    animation: fadeInUp 0.5s ease-out;
}

.formulario fieldset {
    border-radius: 15px;
    border-color: #4875A3;
    border-width: 1px;
    padding: 20px;
    margin: 0 auto;
}

.formulario fieldset legend {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.campos-formulario input,
.campos-formulario select,
.campos-formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.campos-formulario {
    border-radius: 15px;
    border-width: 1px;
}

.submit-button {
    background-color: #4875A3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 250px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

.submit-button:hover {
    background-color: #3E668E;
}

.rodape {
    background-color: #4D77A8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 48px;
}

.rodape-texto {
    margin: 10px 0;
}

.rodape-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape-link:hover {
    color: #c0d8e8;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Resposividade */
@media only screen and (max-width: 768px) {
    .formulario {
        border: none;
        box-shadow: none;
        background: transparent;
    }

    .formulario {
        border: none;
        box-shadow: none;
        padding: 10px;
        background: transparent;
        margin: 0;
    }

    .formulario fieldset {
        border: none;
        padding: 0;
    }

    .formulario fieldset legend {
        font-size: 20px;
        padding: 10px 0;
    }

    .campos-formulario input,
    .campos-formulario select,
    .campos-formulario textarea {
        padding: 13px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .submit-button {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }
}